<h2>Refile</h2>

<h3>Set Item Status</h3>

<p>Submit a barcode to clear its Sierra item status from "In transit" or "Checked out" to "Available."</p>
<% flash.each do |key, value| %>
  <% normalized_key = key == 'notice' ? 'success' : key %>
  <div class="nypl-form-<%= normalized_key %>">
    <% if key == 'success' %>
      <h2>Success!</h2>
      <p><%= value %></p>
    <% elsif key == 'notice' %>
      <p><%= value %></p>
    <% elsif key == 'error' %>
      <% value.each do |k, v| %>
        <div class="flash_error flash_message nypl-required-field" id="flash_error">
          <p><%= v.join('<br/>') if v.present? %></p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= form_tag action: 'send_refile_request' do -%>
  <div>
    <p>
      <div class="nypl-text-field-with-label">
        <label class="required">Barcode</label><span class="nypl-required-field"> Required</span>
        <%= text_field_tag :barcode, @barcode, { class: 'required' } %>
        <span class="nypl-field-status" id="barcodes-status" aria-live="assertive" aria-atomic="true">Enter a single barcode. Make sure the item is available in SCSB first.</span>
      </div>
      <div class="nypl-submit-button-wrapper"><%= submit_tag 'Submit', class: "nypl-primary-button" %></div>
    </p>
  </div>
<% end -%>


<!--  FORM TO TRANSLATE TO RAILS -->
<!--
  <form>
  <div class="nypl-text-field ">
  <label for="barcode" id="barcode-label"><span>Barcode</span><span class="nypl-required-field"> Required</span></label>
  <input type="text" value="" id="barcode" name="barcode" aria-required="true" aria-labelledby="barcode-label barcode-status" placeholder="Enter Barcode"/>
  <span class="nypl-field-status" id="barcode-status" aria-live="assertive" aria-atomic="true">Make sure the item is available in SCSB first</span></div><div class="nypl-submit-button-wrapper"><input type="submit" class="nypl-primary-button" value="Submit"/></div></form></div><div class="" id=""><h3>Refile Errors</h3><p>Enter dates below to see errors for a specific date range</p><form><div class="nypl-name-field nypl-filter-date-field"><div class="recap-admin-date-field "><label for="startDate" id="startDate-label"><span>Start Date</span><span class="nypl-required-field"> Required</span></label><input type="date" value="2018-08-07" id="startDate" name="startDate" aria-required="true" aria-labelledby="startDate-label startDate-status"/><span class="nypl-field-status" id="startDate-status" aria-live="assertive" aria-atomic="true">The start date as the format as MM/DD/YYYY</span></div><span class="date-divider">to</span><div class="recap-admin-date-field "><label for="endDate" id="endDate-label"><span>End Date</span><span class="nypl-required-field"> Required</span></label><input type="date" value="2018-08-08" id="endDate" name="endDate" aria-required="true" aria-labelledby="endDate-label endDate-status"/><span class="nypl-field-status" id="endDate-status" aria-live="assertive" aria-atomic="true">The end date as the format as MM/DD/YYYY</span></div></div><div class="nypl-submit-button-wrapper"><input type="submit" class="nypl-primary-button" value="Submit"/></div></form>
-->

<div>
  <% if @refiles["data"].present? %>
    <p class='display-result-text'>Displaying <%= cardinality_of_current_results(@refile_error_search, @refiles) %> of <%= @refiles["totalCount"] %> errors from <%= @refile_error_search.date_start %> to <%= @refile_error_search.date_end %></p>

    <table class="result-table">
      <caption class="hidden">Refile Error Details</caption>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Barcodes</th>
          <th scope="col">Created Date</th>
          <th scope="col">Updated Date</th>
          <th scope="col">AF</th>
          <th scope="col">NYPL Item?</th>
        </tr>
      </thead>
      <tbody class="result-table-body">
        <% @refiles["data"].each do |refile| %>
          <tr>
            <td><%= refile["id"] %></td>
            <td><strong><%= refile["itemBarcode"] %></strong></td>
            <td><%= Date.parse(refile["createdDate"]).strftime("%Y-%m-%d") if refile["createdDate"] %></td>
            <td><%= Date.parse(refile["updatedDate"]).strftime("%Y-%m-%d") if refile["updatedDate"]  %></td>
            <td class="af-message"><%= refile["afMessage"].delete('["').delete('"]') if refile["afMessage"].present? %></td>
            <td>yes<td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <nav class="nypl-results-pagination">
      <%= refile_pagination(@refile_error_search, @refiles) %>
    </nav>
  <% else %>
    <p><%= @refiles['statusCode'] %></p>
  <% end %>
</div>
