<h2>Refile</h2>

<h3>Set Item Status</h3>

<p>Clear an &quot;in transit&quot; or &quot;checked out&quot; item status in Sierra</p>

<h3>Refile Errors</h3>

<p>Enter dates below to see errors for a specific date range</p>

<%= form_tag action: 'search_refile_errors' do -%>
  <div class="nypl-name-field nypl-filter-date-field">
    <div class="recap-admin-date-field ">
      <label for="startDate" id="startDate-label">
        <span>Start Date</span>
        <span class="nypl-required-field"> Required</span>
      </label>
      <p><%= date_select "refile_error_search", "date_start", use_month_numbers: true, start_year: 2010, end_year: Date.current.year, selected: @this_start_date, order: [:month, :day, :year] %></p>
      <span class="nypl-field-status" id="startDate-status" aria-live="assertive" aria-atomic="true">The start date as the format as MM/DD/YYYY</span>
    </div>
    <span class="date-divider">to</span>
    <div class="recap-admin-date-field ">
      <label for="endDate" id="endDate-label">
        <span>End Date</span>
        <span class="nypl-required-field"> Required</span>
      </label>
      <p><%= date_select "refile_error_search", "date_end", use_month_numbers: true, start_year: 2010, end_year: Date.current.year, selected: @this_end_date, order: [:month, :day, :year] %></p>
      <span class="nypl-field-status" id="startDate-status" aria-live="assertive" aria-atomic="true">The end date as the format as MM/DD/YYYY</span>
    </div>
    <div class="nypl-submit-button-wrapper"><%= submit_tag 'Submit', class: "nypl-primary-button" %></div>
  </div>
<% end -%>

<div>
  <% if @refiles["data"].present? %>
    <p class='display-result-text'>Displaying <%= cardinality_of_current_results(@refile_error_search, @refiles) %> of <%= @refiles["totalCount"] %> errors from <%= @refile_error_search.date_start %> to <%= @refile_error_search.date_end %></p>

    <table class="result-table">
      <caption class="hidden">Refile Error Details</caption>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Barcodes</th>
          <th scope="col">Created Date</th>
          <th scope="col">Updated Date</th>
          <th scope="col">AF</th>
          <th scope="col">NYPL Item?</th>
        </tr>
      </thead>
      <tbody class="result-table-body">
        <% @refiles["data"].each do |refile| %>
          <tr>
            <td><%= refile["id"] %></td>
            <td><strong><%= refile["itemBarcode"] %></strong></td>
            <td><%= Date.parse(refile["createdDate"]).strftime("%Y-%m-%d") if refile["createdDate"] %></td>
            <td><%= Date.parse(refile["updatedDate"]).strftime("%Y-%m-%d") if refile["updatedDate"]  %></td>
            <td class="af-message"><%= refile["afMessage"].delete('["').delete('"]') if refile["afMessage"].present? %></td>
            <td>yes<td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <nav class="nypl-results-pagination">
      <%= refile_pagination(@refile_error_search, @refiles) %>
    </nav>
  <% else %>
    <p><%= @refiles['statusCode'] %></p>
  <% end %>
</div>
