<h2>Update SCSB Metadata</h2>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_tag action: 'send_metadata' do -%>
  <div>
    <p>
      <div class="nypl-text-area-with-label">
        <label class="required">Barcode(s)</label><span class="nypl-required-field"> Required</span><br/>
        <%= text_area_tag :barcodes, nil, { class: 'required', rows: 50, cols: 75 } %>
        <span class="nypl-field-status" id="barcodes-status" aria-live="assertive" aria-atomic="true">Please paste/enter a list of 14 digit barcodes on every line</span>
      </div>
      <div class=""><%= check_box_tag(:protect_gcd, true, false) %> Protect GCD</div>
      <div class="nypl-submit-button-wrapper"><%= submit_tag 'Submit', class: "nypl-primary-button" %></div>
    </p>
  </div>
<% end -%>