<!DOCTYPE html>
<html>
  <head>
    <title>SCSBuster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="scsbuster">
      <header class="app-header">
        <h1 class="title">SCSBuster</h1>
      </header>
      <nav class="">
        <ul>
          <li><%= link_to "Update Metadata", update_metadata_path %></li>
          <li><%= link_to "Transfer Barcode & Update Metadata", transfer_metadata_path %></li>
          <li><%= link_to "Refile", refile_path %></li>
        </ul>
      </nav>
      <div class="nypl-full-width-wrapper app-content">
        <%= yield %>
      <div>
    </div>
  </body>
</html>
