<!DOCTYPE html>
<html>
  <head>
    <title>SCSBuster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="scsbuster">
      <header class="app-header">
        <div class="nypl-full-width-wrapper">
          <h1 class="title"><%= link_to 'SCSBuster', root_url, { style: "text-decoration: none;" } %></h1>
        </div>
      </header>
      <div class="nypl-full-width-wrapper app-content">
        <div class="nypl-row">
          <nav class="nypl-column-one-quarter sidebar-navigation" id="sidebar-navigation">
            <ul>
              <li><%= link_to "Update Metadata", update_metadata_path %></li>
              <li><%= link_to "Transfer Barcode & Update Metadata", transfer_metadata_path %></li>
              <li><%= link_to "Refile", refile_path %></li>
              <li><%= link_to "Log Out", log_out_path %></li>
            </ul>
          </nav>
          <main class="nypl-column-three-quarters">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
